@media (min-width: 640px){
    .nbOMh {
        font-size: 1em;
    }
    }


    @media (max-width:760px) {
        .photo-gallery{
            flex-direction: column;
        }
    }

    @media (max-width:760px) {
        .site{
            font-size: 16px;
        }
        .hid{
            visibility: hidden;
        }
        
    }
    
    @media (max-width:760px) {
        .item1{
            width: 100%;
            text-align: center;
        }
    }

    
    @media (min-width: 640px){
        .iTushb {
            -webkit-flex-basis: 48%;
            flex-basis: 48%;
            margin: 0 0 60px;
        }
        .footer{
            display: none;
        }
    }
    
    
    
    @media (max-width: 720px) {
        .c2zzSe {
          font-size: 18px;
          left:70%;
          width:100%;
          font-weight: bolder;
        }
      }
    

      @media screen and (min-width: 0px) and (max-width: 720px) {
        #sidebarCollapse{
            left:50%;
            
            
        }
        .glyph{ display: none; }
      }
    
    
